* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  perspective: 1000px;
}

.container {
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px pink;
}

.card {
  width: 20rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2), 0 0 50px rgba(0, 0, 0, .2);
  border-radius: 25px;
  padding: 1rem;
  transform-style: preserve-3d;
}

.sneaker {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sneaker img {
  width: 12rem;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #833ab4;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgb(253, 29, 29) 50%, rgba(252, 176, 69, 1) 100%);
  z-index: -1;
  position: absolute;
}

.info h1 {
  font-size: 1.5rem;
}

.info h2 {
  font-size: 1.1rem;
  font-weight: lighter;
}

.info h3 {
  font-size: 1rem;
  font-weight: lighter;
  color: #4c566a;
  padding: 1rem .1rem;
}

.sizes {
  display: flex;
  justify-content: space-evenly;
}

.sizes .btn{
  background-color: none;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  padding: .5rem 1rem;
  color: #4c566a;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.sizes button.active{
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgb(253, 29, 29) 50%, rgba(252, 176, 69, 1) 100%);
}

.purchase button {
  margin-top: 2rem;
  width: 100%;
  border-radius: 30px;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  color: #4c566a;
  cursor: pointer;
  outline: none;
}

.purchase button:active{
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgb(253, 29, 29) 50%, rgba(252, 176, 69, 1) 100%);
}


.sneaker img,
.circle,
.info h1,
.info h3,
.info h2,
.sizes button,
.purchase button {
  transition: all .5s ease-out;
}